.footer {
    border-top: 2px solid #d5c9be;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1660px;
    width: 100%;
    padding: 40px 40px 53px;
    margin: 0 auto;
}

.footer__nav {
    border-bottom: 2px solid #d5c9be;
}

.footer__nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1660px;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
}

.footer__link {
    font-style: italic;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    transition: color 0.3s ease;
}

.footer__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffcc00; /* Цвет подчеркивания */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.footer__link:hover {
    color: #ffcc00; /* Цвет текста при наведении */
}

.footer__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1660px;
    width: 100%;
    padding: 43px 40px 53px;
    margin: 0 auto;
}

.footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.footer__logo-link {
    font-family: var(--second-family);
    font-size: 3.6rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-size: 2rem;
    line-height: 150%;
}

.footer__socials-wrapper {
    display: flex;
    flex-direction: column;
    gap: 63px;
    align-items: center;
}

.footer__socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__social {
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer__social-link {
    display: inline-block;
}

.footer__social:hover {
    transform: scale(1.1);
    color: #ffcc00;
}

.footer__social .footer__icon {
    transition: fill 0.3s ease;
}

.footer__social:hover .footer__icon {
    fill: #ffcc00;
}

.footer__icon {
    width: 32px;
    height: 32px;
}

.footer__privacy {
    font-size: 2rem;
    line-height: 150%;
    color: #d5c9be;
    transition: all 0.3s ease-in-out;
}

.footer__privacy:hover {
    color: rgba(54, 54, 211, 0.897);
    text-decoration: underline;
}

.footer__order-wrapper {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer__button {
    border-radius: 4px;
    padding: 32px 52px;
    background: #fff;
    font-style: italic;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.footer__button:hover {
    background: #222;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.footer__terms {
    font-size: 2rem;
    line-height: 150%;
    color: #d5c9be;
    text-align: right;
}